/*************************************************
----------------------POLICES---------------------
*************************************************/

/*@font-face {
  font-family: 'RobotoBoldItalic';
  src: url('fonts/RobotoBoldItalic.ttf') format('truetype');
}*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

/*************************************************
----------------------VARIABLES-------------------
*************************************************/

:root {
  --main-btn-color: #526a80;
}


/*************************************************
----------------------GLOBAL----------------------
*************************************************/

body {
  letter-spacing: 0.0625em;
  font-family: 'Roboto', sans-serif;
}

* {
	margin: 0;
	padding: 0;
}

i {
	margin-right: 10px;
}

.anchor {
  padding-top: 50px;
  border-radius: 2em;
}

#BackToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 5px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #329f61;
  color: snow;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
}

#BackToTopBtn:hover {
  background-color: #555;
}

.bg-black {
  background-color: #000000 !important;
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  font-size: 80%;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}

.btn-lg {
  padding: 1.25rem 2rem;
  background-color: var(--main-btn-color);
}

.btn-sm {
  padding: .65rem 1rem;
  background-color: var(--main-btn-color);
}


#content{
  background-color: #f8f9fa !important;
}

.card {
  border-radius: 1.5em;
}

.margeAndRounded {
  margin: 50px;
  border-radius: 2em;
}


/*************************************************
----------------------NAVBAR----------------------
*************************************************/

#navbarNav {
  font-size : 1.2em;
  font-weight: bold;
}

.navbar {
  margin: 0 50px 0 50px;
  border-radius: 0 0 1.5em 1.5em;
}

#navMarg{
  margin: auto;
}

.navbar-logo{
padding: 15px;
color: #fff;
}

.navbar-mainbg{
  background-color: #212122;
/*background-color: #5161ce;*/
padding: 0px;
}

#navbarSupportedContent{
overflow: hidden;
position: relative;
}

#navbarSupportedContent ul{
padding: 0px;
margin: 0px;
}

#navbarSupportedContent ul li a i{
margin-right: 10px;
}

#navbarSupportedContent li {
list-style-type: none;
float: left;
}

#navbarSupportedContent ul li a{
color: rgba(255,255,255,0.80);
  text-decoration: none;
  font-size: 18px;
  display: block;
  padding: 20px 20px;
  transition-duration:0.6s;
transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
  position: relative;
}

#navbarSupportedContent>ul>li.active>a{
color: #5161ce;
background-color: transparent;
transition: all 0.7s;
}

#navbarSupportedContent a:not(:only-child):after {
content: "\f105";
position: absolute;
right: 20px;
top: 10px;
font-size: 14px;
font-family: "Font Awesome 5 Free";
display: inline-block;
padding-right: 3px;
vertical-align: middle;
font-weight: 900;
transition: 0.5s;
}

#navbarSupportedContent .active>a:not(:only-child):after {
transform: rotate(90deg);
}

.hori-selector{
display:inline-block;
position:absolute;
height: 100%;
top: 0px;
left: 0px;
transition-duration:0.6s;
transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
/*background-color: #fff;*/
  background-color: #f8f9fa !important;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
margin-top: 10px;
}

.hori-selector .right,
.hori-selector .left{
position: absolute;
width: 25px;
height: 25px;
/*background-color: #fff;*/
  background-color: #f8f9fa !important;
bottom: 10px;
}

.hori-selector .right{
right: -25px;
}

.hori-selector .left{
left: -25px;
}

.hori-selector .right:before,
.hori-selector .left:before{
content: '';
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /*background-color: #5161ce;*/
  background-color: #212122;
}

.hori-selector .right:before{
bottom: 0;
  right: -25px;
}

.hori-selector .left:before{
bottom: 0;
  left: -25px;
}

@media (max-width: 991px){
  #navbarSupportedContent ul li a{
    padding: 12px 30px;
  }

  .hori-selector{
    margin-top: 0px;
    margin-left: 10px;
    border-radius: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }

  .hori-selector .left,
  .hori-selector .right{
    right: 10px;
  }

  .hori-selector .left{
    top: -25px;
    left: auto;
  }

  .hori-selector .right{
    bottom: -25px;
  }

  .hori-selector .left:before{
    left: -25px;
    top: -25px;
  }

  .hori-selector .right:before{
    bottom: -25px;
    left: -25px;
  }
}


/*************************************************
---------------------HEADER-----------------------
*************************************************/

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("/public/images/alaska2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.masthead h1 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
}
@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}
@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.chaptershead {
  position: relative;
  width: 100%;
  height: 20rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000000 100%), url("/public/images/alaska4.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.chaptershead h1 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 3.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}



/*************************************************
------------------ABOUT SECTION-------------------
*************************************************/

#about .anchor {
  background-color: black;
}

.about-section {
  padding-top: 6rem;
  /*background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);*/
}

#about img {
  height: 400px;
}


/*************************************************
----------------PROJECTS SECTION------------------
*************************************************/

.projects-section {
  padding: 10rem 0;
}
.projects-section .featured-text {
  padding: 2rem;
}

#project img {
  height: 25em;
}


@media (min-width: 992px) {
  .projects-section .featured-text {
    /*padding: 0 0 0 2rem;
    border-left: 0.5rem solid #64a19d;*/
    border-right: 0.5rem solid #526a80;
  }
}
.projects-section .project-text {
  padding: 3rem;
  font-size: 90%;
}
@media (min-width: 992px) {
  .projects-section .project-text {
    padding: 5rem;
  }
  .projects-section .project-text hr {
    border-color: #64a19d;
    border-width: 0.25rem;
    width: 30%;
  }
}


/*************************************************
----------------ALL CHAPTERS PAGE-----------------
*************************************************/

#allChapters{
  padding: 4em;
}

#allChapters a{
  text-decoration: none;
  color: black;
  font-size: 1.1em;
}

#allChapters h5 {
  text-align: center;
  text-decoration: underline overline #18404D;
  text-decoration-thickness: 0.2rem;
  padding-bottom: 2em;
}
#allChapters p {
  margin: 0 1.2em;
}


/*************************************************
---------------SINGLE CHAPTER PAGE----------------
*************************************************/

.chapterContent {
  padding: 4em;
  text-align: justify;
  text-justify: distribute;
  background-color: #fdfdfd;
}

.chapterContent p {
  padding-top: 3rem;
}

.commentaryContent {
  padding: 4em;
  background-color: #fdfdfd;
}

.commentaryContent h2, .chapterContent h2 {
  border-bottom: solid;
}


/*************************************************
---------------------FOOTER-----------------------
*************************************************/

.card-footer:last-child {
  border-radius: 0 0 calc(2rem - 9px) calc(2rem - 9px);
}

.footer {
  padding: 5rem 0;
}

/*
#mainNav {
  min-height: 3.5rem;
  background-color: #fff;
}
#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #64a19d;
  border: 1px solid #64a19d;
}
#mainNav .navbar-toggler:focus {
  outline: none;
}
#mainNav .navbar-brand {
  color: #000000;
  font-weight: 700;
  padding: 0.9rem 0;
}
#mainNav .navbar-nav .nav-item:hover {
  color: fade(#fff, 80%);
  outline: none;
  background-color: transparent;
}
#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: 0.5rem 0;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link {
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.5);
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: #fff;
  }

  .navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #000000;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #000000;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #64a19d;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #64a19d;
    outline: none;
    border-bottom: 0.25rem solid #64a19d;
  }
}*/



/*************************************************
-----------------SIGNUP SECTION-------------------
*************************************************/

.signup-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000000 100%), url("/public/images/bg-signup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}


/*************************************************
-----------------CONTACT SECTION------------------
*************************************************/

.contact-section {
  padding-top: 5rem;
}

.contact-section .card {
  border: 0;
  border-bottom: 0.25rem solid #64a19d;
}

.contact-section .card h4 {
  font-size: 0.8rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.contact-section .card hr {
  border-color: #64a19d;
  border-width: 0.25rem;
  width: 3rem;
}

.contact-section .social {
  margin-top: 5rem;
}

.contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
}

.contact-section .social a:hover {
  color: rgba(255, 255, 255, 0.5);
}

.contact-section .social a:active {
  color: #fff;
}


/*************************************************
-------------------LOGIN PAGE---------------------
*************************************************/

#loginNav{
  padding: 50px;
}

#loginNav .container{
  margin: auto;
  width: auto;
}

#loginContent {
  padding-top: 4em;
}

#msgLogin p {
  margin: auto;
  font-size: 1.5em;
  text-align: center;
  padding-top: 2em;
}

#passwordForm {
  margin-bottom: 1.5em;
}

.help-block {
  color: red;
  font-size: 1.5em;
}


/*************************************************
---------------------FORMS------------------------
*************************************************/

.default-form {
  max-width: 500px;
  text-align: center;
  margin: auto;
  padding: 50px;
}

.default-form button {
  margin: 2em;
}


.form1{
  max-width: 600px;
  margin: auto;
}

.form-outline {
position:relative;
}

.form-outline .form-control {
min-height:auto;
padding:.33em .75em;
border:0;
background:transparent;
-webkit-transition:all .2s linear;
transition:all .2s linear
}

.form-outline .form-control~.form-label {
position:absolute;
top:0;
left:.75rem;
padding-top:.37rem;
pointer-events:none;
-webkit-transform-origin:0 0;
transform-origin:0 0;
-webkit-transition:all .2s ease-out;
transition:all .2s ease-out;
color:rgba(0,0,0,.6);
margin-bottom:0
}

.form-outline .form-control~.form-notch {
display:-webkit-box;
display:-ms-flexbox;
display:flex;
position:absolute;
left:0;
top:0;
width:100%;
max-width:100%;
height:100%;
text-align:left;
pointer-events:none
}

.form-outline .form-control~.form-notch div {
pointer-events:none;
border:1px solid #bdbdbd;
-webkit-box-sizing:border-box;
box-sizing:border-box;
background:transparent
}

.form-outline .form-control~.form-notch .form-notch-leading {
left:0;
top:0;
height:100%;
width:.5rem;
border-right:none;
border-radius:.25rem 0 0 .25rem
}

.form-outline .form-control~.form-notch .form-notch-middle {
-webkit-box-flex:0;
-ms-flex:0 0 auto;
flex:0 0 auto;
width:auto;
max-width:calc(100% - 1rem);
height:100%;
border-right:none;
border-left:none
}

.form-outline .form-control~.form-notch .form-notch-trailing {
-webkit-box-flex:1;
-ms-flex-positive:1;
flex-grow:1;
height:100%;
border-left:none;
border-radius:0 .25rem .25rem 0
}

.form-outline .form-control:not(.placeholder-active)::-webkit-input-placeholder {
opacity:0
}

.form-outline .form-control:not(.placeholder-active)::-moz-placeholder {
opacity:0
}

.form-outline .form-control:not(.placeholder-active):-ms-input-placeholder {
opacity:0
}

.form-outline .form-control:not(.placeholder-active)::-ms-input-placeholder {
opacity:0
}

.form-outline .form-control:not(.placeholder-active)::placeholder {
opacity:0
}

.form-outline .form-control.active::-webkit-input-placeholder,
.form-outline .form-control:focus::-webkit-input-placeholder {
opacity:1
}

.form-outline .form-control.active::-moz-placeholder,
.form-outline .form-control:focus::-moz-placeholder {
opacity:1
}

.form-outline .form-control.active:-ms-input-placeholder,
.form-outline .form-control:focus:-ms-input-placeholder {
opacity:1
}

.form-outline .form-control.active::-ms-input-placeholder,
.form-outline .form-control:focus::-ms-input-placeholder {
opacity:1
}

.form-outline .form-control.active::placeholder,
.form-outline .form-control:focus::placeholder {
opacity:1
}

.form-outline .form-control:focus {
-webkit-box-shadow:none!important;
box-shadow:none!important
}

.form-outline .form-control.active~.form-label,
.form-outline .form-control:focus~.form-label {
-webkit-transform:translateY(-1rem) translateY(.1rem) scale(.8);
transform:translateY(-1rem) translateY(.1rem) scale(.8)
}

.form-outline .form-control:focus~.form-label {
color:#1266f1
}

.form-outline .form-control.active~.form-notch .form-notch-middle,
.form-outline .form-control:focus~.form-notch .form-notch-middle {
border-top:none;
border-right:none;
border-left:none;
-webkit-transition:all .2s linear;
transition:all .2s linear
}

.form-outline .form-control:focus~.form-notch .form-notch-middle {
border-bottom:.125rem solid;
border-color:#1266f1
}

.form-outline .form-control.active~.form-notch .form-notch-leading,
.form-outline .form-control:focus~.form-notch .form-notch-leading {
border-right:none;
-webkit-transition:all .2s linear;
transition:all .2s linear
}

.form-outline .form-control:focus~.form-notch .form-notch-leading {
border-top:.125rem solid #1266f1;
border-bottom:.125rem solid #1266f1;
border-left:.125rem solid #1266f1
}

.form-outline .form-control.active~.form-notch .form-notch-trailing,
.form-outline .form-control:focus~.form-notch .form-notch-trailing {
border-left:none;
-webkit-transition:all .2s linear;
transition:all .2s linear
}

.form-outline .form-control:focus~.form-notch .form-notch-trailing {
border-color:currentcolor currentcolor currentcolor #1266f1;
border-bottom:.125rem solid #1266f1;
border-right:.125rem solid #1266f1;
border-top:.125rem solid #1266f1
}





/*.form-control {
  min-height:auto;
  padding-top:5.28px;
  padding-bottom:3.28px
 }

 .form-control,
 .form-control:focus {
  -webkit-transition:all .1s linear;
  transition:all .1s linear
 }
 .form-control:focus {
  -webkit-box-shadow:none;
  box-shadow:none;
  border-color:#1266f1;
  -webkit-box-shadow:inset 0 0 0 1px #1266f1;
  box-shadow:inset 0 0 0 1px #1266f1
 }
 .form-control.form-control-sm {
  font-size:.775rem;
  line-height:1.5
 }
 .form-control.form-control-lg {
  line-height:2.15;
  border-radius:.25rem
 }
 .form-outline {
  position:relative;
 }

 /*ok
 .form-outline .form-control {
  min-height:auto;
  padding:.33em .75em;
  border:0;
  background:transparent;
  -webkit-transition:all .2s linear;
  transition:all .2s linear
 }
 /*ok
 .form-outline .form-control~.form-label {
  position:absolute;
  top:0;
  left:.75rem;
  padding-top:.37rem;
  pointer-events:none;
  -webkit-transform-origin:0 0;
  transform-origin:0 0;
  -webkit-transition:all .2s ease-out;
  transition:all .2s ease-out;
  color:rgba(0,0,0,.6);
  margin-bottom:0
 }
 /*ok
 .form-outline .form-control~.form-notch {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  position:absolute;
  left:0;
  top:0;
  width:100%;
  max-width:100%;
  height:100%;
  text-align:left;
  pointer-events:none
 }
 /*ok
 .form-outline .form-control~.form-notch div {
  pointer-events:none;
  border:1px solid #bdbdbd;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  background:transparent
 }
 /*ok
 .form-outline .form-control~.form-notch .form-notch-leading {
  left:0;
  top:0;
  height:100%;
  width:.5rem;
  border-right:none;
  border-radius:.25rem 0 0 .25rem
 }
 /*ok
 .form-outline .form-control~.form-notch .form-notch-middle {
  -webkit-box-flex:0;
  -ms-flex:0 0 auto;
  flex:0 0 auto;
  width:auto;
  max-width:calc(100% - 1rem);
  height:100%;
  border-right:none;
  border-left:none
 }
 /*ok
 .form-outline .form-control~.form-notch .form-notch-trailing {
  -webkit-box-flex:1;
  -ms-flex-positive:1;
  flex-grow:1;
  height:100%;
  border-left:none;
  border-radius:0 .25rem .25rem 0
 }
 /*ok
 .form-outline .form-control:not(.placeholder-active)::-webkit-input-placeholder {
  opacity:0
 }
 /*ok
 .form-outline .form-control:not(.placeholder-active)::-moz-placeholder {
  opacity:0
 }
 /*ok
 .form-outline .form-control:not(.placeholder-active):-ms-input-placeholder {
  opacity:0
 }
 /*ok
 .form-outline .form-control:not(.placeholder-active)::-ms-input-placeholder {
  opacity:0
 }
 /*ok
 .form-outline .form-control:not(.placeholder-active)::placeholder {
  opacity:0
 }
 /*ok
 .form-outline .form-control.active::-webkit-input-placeholder,
 .form-outline .form-control:focus::-webkit-input-placeholder {
  opacity:1
 }
 /*ok
 .form-outline .form-control.active::-moz-placeholder,
 .form-outline .form-control:focus::-moz-placeholder {
  opacity:1
 }
 /*ok
 .form-outline .form-control.active:-ms-input-placeholder,
 .form-outline .form-control:focus:-ms-input-placeholder {
  opacity:1
 }
 /*ok
 .form-outline .form-control.active::-ms-input-placeholder,
 .form-outline .form-control:focus::-ms-input-placeholder {
  opacity:1
 }
 /*ok
 .form-outline .form-control.active::placeholder,
 .form-outline .form-control:focus::placeholder {
  opacity:1
 }

 /*ok
 .form-outline .form-control:focus {
  -webkit-box-shadow:none!important;
  box-shadow:none!important
 }
 /*ok
 .form-outline .form-control.active~.form-label,
 .form-outline .form-control:focus~.form-label {
  -webkit-transform:translateY(-1rem) translateY(.1rem) scale(.8);
  transform:translateY(-1rem) translateY(.1rem) scale(.8)
 }
 /*ok
 .form-outline .form-control:focus~.form-label {
  color:#1266f1
 }
 /*ok
 .form-outline .form-control.active~.form-notch .form-notch-middle,
 .form-outline .form-control:focus~.form-notch .form-notch-middle {
  border-top:none;
  border-right:none;
  border-left:none;
  -webkit-transition:all .2s linear;
  transition:all .2s linear
 }
 /*ok
 .form-outline .form-control:focus~.form-notch .form-notch-middle {
  border-bottom:.125rem solid;
  border-color:#1266f1
 }
 /*ok
 .form-outline .form-control.active~.form-notch .form-notch-leading,
 .form-outline .form-control:focus~.form-notch .form-notch-leading {
  border-right:none;
  -webkit-transition:all .2s linear;
  transition:all .2s linear
 }
 /*ok
 .form-outline .form-control:focus~.form-notch .form-notch-leading {
  border-top:.125rem solid #1266f1;
  border-bottom:.125rem solid #1266f1;
  border-left:.125rem solid #1266f1
 }
 /*ok
 .form-outline .form-control.active~.form-notch .form-notch-trailing,
 .form-outline .form-control:focus~.form-notch .form-notch-trailing {
  border-left:none;
  -webkit-transition:all .2s linear;
  transition:all .2s linear
 }
 /*ok
 .form-outline .form-control:focus~.form-notch .form-notch-trailing {
  border-color:currentcolor currentcolor currentcolor #1266f1;
  border-bottom:.125rem solid #1266f1;
  border-right:.125rem solid #1266f1;
  border-top:.125rem solid #1266f1
 }
 
 .form-outline .form-control.disabled,
 .form-outline .form-control:disabled,
 .form-outline .form-control[readonly] {
  background-color:#e9ecef
 }
 .form-outline .form-control.form-control-lg {
  font-size:1rem;
  line-height:2.15;
  padding-left:.75em;
  padding-right:.75em
 }
 .form-outline .form-control.form-control-lg~.form-label {
  padding-top:.7rem
 }
 .form-outline .form-control.form-control-lg.active~.form-label,
 .form-outline .form-control.form-control-lg:focus~.form-label {
  -webkit-transform:translateY(-1.25rem) translateY(.1rem) scale(.8);
  transform:translateY(-1.25rem) translateY(.1rem) scale(.8)
 }
 .form-outline .form-control.form-control-sm {
  padding:.43em .99em .35em;
  font-size:.775rem;
  line-height:1.6
 }
 .form-outline .form-control.form-control-sm~.form-label {
  padding-top:.33rem;
  font-size:.775rem
 }
 .form-outline .form-control.form-control-sm.active~.form-label,
 .form-outline .form-control.form-control-sm:focus~.form-label {
  -webkit-transform:translateY(-.85rem) translateY(.1rem) scale(.8);
  transform:translateY(-.85rem) translateY(.1rem) scale(.8)
 }
 .form-outline.form-white .form-control {
  color:#fff
 }
 .form-outline.form-white .form-control~.form-label {
  color:#fbfbfb
 }
 .form-outline.form-white .form-control~.form-notch div {
  border-color:#fbfbfb
 }
 .form-outline.form-white .form-control:focus~.form-label {
  color:#fff
 }
 .form-outline.form-white .form-control:focus~.form-notch .form-notch-middle {
  border-color:#fff
 }
 .form-outline.form-white .form-control:focus~.form-notch .form-notch-leading {
  border-top:.125rem solid #fff;
  border-bottom:.125rem solid #fff;
  border-left:.125rem solid #fff
 }
 .form-outline.form-white .form-control:focus~.form-notch .form-notch-trailing {
  border-color:#fff
 }

*/





