#Options -Multiviews
#RewriteEngine On
#RewriteBase /projet4BlogEcrivain/public
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule  ^(.+)$ index.php?url=$1 [QSA,L]

#RewriteEngine On
#RewriteRule ^([a-zA-Z0-9\-\_\/]*)$ index.php?p=$1
 
#RewriteEngine On
#RewriteCond %(REQUEST_FILENAME) !-f
#RewriteRule ^(.+)$ index.php?r=$1 [QSA,L]